<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>red</key>
	<string>skins/red</string>
	<key>blue</key>
	<string>skins/blue</string>
	<key>pink</key>
	<string>skins/pink</string>
	<key>night</key>
	<string>skins/night</string>
</dict>
</plist>
